@use "../../../styles/variables.scss" as vars;

.input-wrapper {
  color: vars.$text-color;
  font-size: 16px;
  text-align: start;

  label {
    margin-top: 10px;
  }

  .input-content {
    width: 100%;
    display: flex;

    .icon {
      padding: 12px;
      background-color: vars.$primary-color;
      border-radius: 0 8px 8px 0;

      img {
        height: 8px;
      }
    }

    input {
      width: 100%;
      border: none;
      background-color: vars.$gray-secondary-bg;
      padding: 12px 0 12px 20px;
      border-radius: 8px 0 0 8px;
    }
  }
}

